.jumbotron, .card {
    text-align: center;
}

.card-row {
    display: block;
    position: relative;
    height: 20px;
}

.el-right{
    position: absolute;
    display: inline-block;
    right: 5%;
}

.el-left{
    position: absolute;
    display: inline-block;
    left: 5%;
}

@media(max-width: 760px){
    .card-cont{
        margin-top: 7%;
    }
}