
.main{
    margin-top: 20px;
    margin-bottom: 20px; 
}

.info-message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.navbar{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}



/* Список ремонтов карточка ремонта */

.repair-block{
    display: flex;
    margin-top: 5px;
    background-color: #22B573;
}

.date-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 1.5vw;
    color: white;
    text-align: center;
    width: 20%;
}

.content-block{
    padding: 2%;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 80%;
}
.content-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#repair_edit{
    text-decoration: none;
    color: grey;
}


/* Список ремонтов карточка ремонта */



.banner{
    display: flex;
    flex-direction: row;
    padding: 3%;
    margin: 0;
    width: 100%;
    background-color: #22B573;
}

.banner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    color: white;
    font-family: sans-serif;
}

.banner-content h2{
    text-transform: uppercase;
}
.image{
    width: 50%;
}

.image img{
    width: 100%;
}

.root-content{
    padding-top: 50px;
    padding-bottom: 50px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30%;
}
.cont img{
    width: 40%;
}

.cont h4{
    color: gray;
    margin-top: 20px;
}

.text{
    width: 60%;
}

footer{
    background-color: #22B573;
}

.both-navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: center;
}

.both-navbar a{
    color: white;
}

/* Карточка применется в формах входа, регистрации, восстановления пароля */
.card{
    margin-top: 20px;
}

.card-header{
    background-color: #22B573;
    color: white;
    font-size: 20px;
}

.browser-info{
    margin: 5%;
    text-align: center;
}
.browsers{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.browser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin: 0px 2% 0px 2%;
}
.browser img{
    width: 50%;
}
@media(max-width: 760px){
    .card-cont{
        margin-top: 7%;
    }

    .date-block{
        font-size: 3vw;
    }


    .banner{
        flex-direction: column;
    }

    .banner-content{
        width: 100%;
    }

    .image{
        width: 100%;
    }

    .root-content{
        flex-direction: column;
    }

    .cont{
        width: 90%;
    }

    .cont img{
        width: 50%;
    }

    .text{
        width: 80%;
    }

    .both-navbar {
        flex-direction: column;
        justify-content: center;
    }
    .nav-item{
        border-bottom: 1px solid white; 
    }

}